body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: "Open Sans", serif;
  background-color: rgb(179, 176, 179);
}

.introduction{
  font-size: 18px;
}

.introHeader{
  border-bottom: 2px solid rgb(78, 77, 78);
}

.header{
  background-color: rgb(78, 77, 78);
  color: white;
}

.letter{
  font-size: 50px;
  padding-left: 20px;
}

.main {
  background-color: white;
  height: 85vh;
}

.getNumber{
  background-color: white;
  text-align: center;
  font-size: 25px;
  padding: 10px;
}

#number{
  font-size: 60px;
  font-weight: bold;
  padding-left: 20px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 2px solid black;
}

.cell{
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.image{
  background-color: white;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}